html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

#panel-container {
    position: absolute;
    top: 8px;
    right: 8px;
    min-width: 325px;
    width: 30%;
}

#log-container {
    position: absolute;
    bottom: 8px;
    right: 8px;
    left: 8px;
}

#graphs-container {
    position: absolute;
    top: 8px;
    left: 8px;
    min-width: 325px;
    width: 65%;

    canvas {
        background: rgba(255,255,255, 0.8);
        border-radius: 6px;
        border-width: 2px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

#event-tracker {
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.tp-lblv_l {
    width: 80px !important;
    max-width: fit-content !important;
}

.tp-lblv_v {
    flex-grow: 1 !important;
}

.tp-rotv {
    background: rgba(0,0,0, 0.5) !important;
}

textarea {
    font-size: 1.2rem !important;
    line-height: 1.2 !important;
}